---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col items-center justify-center gap-9">
  <span
    class="uppercase text-secondary text-xl bg-primary px-6 py-1 font-medium"
    >Presentación de
  </span>
  <HeroLogo class="text-blue-900" />
</section>
